<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlite" connectionString="data source=local.s3db;Version=3;"/>
    <add name="sqlserver" connectionString="data source=localhost;initial catalog=fileclip;Integrated Security=true;"/>
  </connectionStrings>
</configuration>